<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nicobot Chat</title>
    </head>

    <body>
        <form action="/chat" method="GET">
          <input id="input" name="mytext" type="text" required>
          <input type="submit" value="submit">
        </form>
    </body>

</html>